<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>407287623677-ithdckcvtpq0pvpbffcsc7k5nqk7087d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.407287623677-ithdckcvtpq0pvpbffcsc7k5nqk7087d</string>
	<key>API_KEY</key>
	<string>AIzaSyDTFiZYEL6mU6HOcywLVz3hAlxd2kD_KV4</string>
	<key>GCM_SENDER_ID</key>
	<string>407287623677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tparrotte.ElestralsCollection</string>
	<key>PROJECT_ID</key>
	<string>caster-collection</string>
	<key>STORAGE_BUCKET</key>
	<string>caster-collection.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:407287623677:ios:3b0dd427abdd141f6fb394</string>
</dict>
</plist>